.project_page .container {
    background: url("/public/imgs/secondPageBg.png");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 110vh;
}

.project_page .container {
    padding: 250px 0px !important;
}

.project_page .container div {
    width: 500px;
}

.project_page .container div h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

.project_page .container div p {
    font-size: 20px;
}

.our_project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
}



.project_info {
    background-color: white;
    padding: 24px 20px;
    border-radius: 10px;
}

.project_info h2 {
    text-align: center;
    margin-bottom: 30px;
}

.project_info table {
    margin-bottom: 40px;
}

.project_info table tr {
    line-height: 40px;
}

.project_info table tr td:nth-child(1) {
    padding-right: 60px;
}

.project_info table tr td span {
    font-weight: bold;
}

.our_project .project_imgs {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.our_project .project_imgs img {
    width: 800px;
    border-radius: 10px;
    transition: all .4s ease;
    display: flex;
}

.our_project .project_imgs:hover img {
    transform: scale(1.3);
}

.our_project .project_imgs:hover span {
    background-color: white;
}

.project_imgs span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.45);
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    transition: all .4s ease;
}

.project_info button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 70px;
    color: white;
    background: linear-gradient(90deg, #FF0089, #00B3FF);
    border-radius: 10px;
    border: none;
    font-size: 14px;
    margin: 0 auto;
    cursor: pointer;
}

.project_info button span {
    font-size: 22px;
}

@media (max-width: 476px) {
    .our_project {
        justify-content: center;
        padding-top: 0px !important;
    }

    .project_imgs img {
        width: 100% !important;
    }

    .project_info {
        width: 100%;
        margin-bottom: 30px;
    }

    .project_page .container {
        background-size: 100%;
        padding: 0px 0px !important;
        padding-top: 100px !important;
        background-position-y: end;
        height: 100vh !important;
        justify-content: start;
    }

    .project_page .container div {
        width: 100%;
        color: rgb(0, 0, 0);
        padding: 0px 30px;
        background-color: rgba(255, 255, 255, 0.217);
        backdrop-filter: blur(10px);
    }

    .project_page .container div h1 {
        font-size: 40px;
    }

    .project_page .container div p {
        font-size: 16px;
    }
}